In [1]:
import pandas as pd
import numpy as np
import json

In [23]:
# load the data
data = []
for line in open('nikis_data_analysis_ga4_events_dta', 'r'):
    data.append(json.loads(line))

In [24]:
df = pd.DataFrame(data)
df

,event_date,user_pseudo_id,event_name,event_param_key,event_param_value
0,20210414,514324360.1607460483,first_visit,ga_session_id,{'int_value': '1618372973'}
1,20210414,514324360.1607460483,first_visit,session_engaged,{'int_value': '1'}
2,20210414,514324360.1607460483,first_visit,engaged_session_event,{'int_value': '1'}
3,20210414,514324360.1607460483,first_visit,ga_session_number,{'int_value': '1'}
4,20210414,514324360.1607460483,first_visit,page_location,{'string_value': 'http://local.dta.gov.au.dd/'}
...,...,...,...,...,...
2321905,20210506,691123746.1620278711,scroll,engaged_session_event,{'int_value': '1'}
2321906,20210506,691123746.1620278711,scroll,medium,{'string_value': 'referral'}
2321907,20210506,691123746.1620278711,scroll,ga_session_id,{'int_value': '1620278710'}
2321908,20210506,691123746.1620278711,scroll,page_location,{'string_value': 'https://www.dta.gov.au/help-...
2321909,20210506,691123746.1620278711,scroll,percent_scrolled,{'int_value': '90'}

In [25]:
df['event_param_value'] = pd.DataFrame([value for d in df['event_param_value'].tolist() for key, value in d.items()])

In [26]:
df

,event_date,user_pseudo_id,event_name,event_param_key,event_param_value
0,20210414,514324360.1607460483,first_visit,ga_session_id,1618372973
1,20210414,514324360.1607460483,first_visit,session_engaged,1
2,20210414,514324360.1607460483,first_visit,engaged_session_event,1
3,20210414,514324360.1607460483,first_visit,ga_session_number,1
4,20210414,514324360.1607460483,first_visit,page_location,http://local.dta.gov.au.dd/
...,...,...,...,...,...
2321905,20210506,691123746.1620278711,scroll,engaged_session_event,1
2321906,20210506,691123746.1620278711,scroll,medium,referral
2321907,20210506,691123746.1620278711,scroll,ga_session_id,1620278710
2321908,20210506,691123746.1620278711,scroll,page_location,https://www.dta.gov.au/help-and-advice/ict-pro...
2321909,20210506,691123746.1620278711,scroll,percent_scrolled,90

In [35]:
# we want to know how many sessions there are
events = len(df.user_pseudo_id.unique())
events

20961

In [33]:
df

,event_date,user_pseudo_id,event_name,event_param_key,event_param_value
0,20210414,514324360.1607460483,first_visit,ga_session_id,1618372973
1,20210414,514324360.1607460483,first_visit,session_engaged,1
2,20210414,514324360.1607460483,first_visit,engaged_session_event,1
3,20210414,514324360.1607460483,first_visit,ga_session_number,1
4,20210414,514324360.1607460483,first_visit,page_location,http://local.dta.gov.au.dd/
...,...,...,...,...,...
2321905,20210506,691123746.1620278711,scroll,engaged_session_event,1
2321906,20210506,691123746.1620278711,scroll,medium,referral
2321907,20210506,691123746.1620278711,scroll,ga_session_id,1620278710
2321908,20210506,691123746.1620278711,scroll,page_location,https://www.dta.gov.au/help-and-advice/ict-pro...
2321909,20210506,691123746.1620278711,scroll,percent_scrolled,90